body{
    background-color: rgb(163, 153, 154);
    color: black;
    font-family: 'helvetica';
    font-weight: normal;
    line-height: 1.6 em;
    padding: 0;
}

.container{e
    width: 100%;
}

.box-1 h1{
    color: black;
    text-align: center;
    text-decoration: unset;
    font-family: fantasy;
    font-weight: 900;
    font-style: bolder;
    text-transform: unset;
    font-stretch: extra-expanded;
    word-spacing: 3em;
    letter-spacing: 3em;
    background-color: rgb(233, 223, 217);
    border: 20px solid grey;
    border-style: groove;
    border-radius: 5px;
    margin-bottom: 0px;
}

.box-1{
    background-color: darkgray;
    color: rgb(99, 56, 7);
    border: 10px blanchedalmond groove;
    border-width: 5px;
    border-style: groove;
    padding: 20px;
}


.box-2{
    border: 3px black groove;
    padding: 20px;
    margin: 0;
    border-radius: 15px;
}

.categories{
    border: 1px black dotted;
    margin: 0;
    padding: 10px;
    border-radius: 15px;
   
}

