body{
    background-color: skyblue;

}

.container{


}


h1{
    color: red;
    background-color: rgb(0,0,0);
    text-align: center;
    font-weight: bolder;
    letter-spacing: 3.2em;
    word-spacing: 2em;
    border-width: 10px;
    border-style: groove;
    border-radius: 10;
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.box-1{

}

..list{

}

span{
    
}
